/* Labaide css stylesheet */
body, p, ul, li, h1, h2, h3, h4, h5, h6 {margin:0; padding:0;}
body {font: 75%/1.3 normal Verdana, Geneva, sans-serif;}

.clearB {clear:both;}

/* Header */
header {height:75px; background-color:#333; position:relative;}
h1 {color:#fff; font-size:2em;padding:8px 0 0 25px;}
header .login {position:absolute; top:13px; right:50px; color:#fff; text-align:right;}
header .login a {color:#00F;}

/* Navigation */
nav {width:150px; height:100%; padding:20px 5px 0; position:fixed; float:left; border-right:1px solid black;}
nav .menu {font-size:1.3em; width:125px; margin:20px auto;}
nav .menu ul {list-style:none;}
nav .menu li {padding-left:20px;}
nav .menu li a {display:block; width:100px;}
nav .menu li a:hover {background-color:#ccc;}

/* Content */
#content {margin-left:175px; min-height:800px;}
.timesheet {border:1px solid #ccc; border-radius:6px; box-shadow:0 1px 1px #ccc; margin:0 auto;}
.timesheet td, .timesheet th { border-left: 1px solid #ccc; border-top: 1px solid #ccc; padding: 10px; text-align: left;}
.timesheet td:first-child, .timesheet th:first-child {border-left:none;}
.timesheet th {font-size:1.3em; border-color:inherit; color:#fff;
 	background-color: #333;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ccc), to(#333));
    background-image: -webkit-linear-gradient(top, #ccc, #333);
    background-image:    -moz-linear-gradient(top, #ccc, #333);
    background-image:     -ms-linear-gradient(top, #ccc, #333);
    background-image:      -o-linear-gradient(top, #ccc, #333);
    background-image:         linear-gradient(top, #ccc, #333);
    -webkit-box-shadow: 0 1px 0 rgba(255,255,255,.8) inset; 
    -moz-box-shadow:0 1px 0 rgba(255,255,255,.8) inset;  
    box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;        
    border-top: none;
    text-shadow: 0 1px 0 rgba(0,0,0,.5);
}
.timesheet th:first-child {border-radius:6px 0 0 0;}
.timesheet th:last-child {border-radius:0 6px 0 0;}
.timesheet th:only-child {border-radius:6px 6px 0 0;}


.timesheet tr:hover{background: #fbf8e9; transition: all 0.1s ease-in-out;}

/* Footer */
footer {text-align:center;}
