<h2>Faculty Request System</h2>
<table class="timesheet" width="80%" cellspacing="0" cellpadding="0">
	<thead>
    	<tr>
    		<th width="10%">Due Date</th>
        	<th width="15%">Lab Tech</th>
        	<th width="15%">Request Type</th>
        	<th width="40%">Subject</th>
        	<th width="10%">Status</th>
            <th width="10%">Accept</th>
        </tr>
    </thead>
    <tbody>
    	<tr ng-repeat="request in requests | orderBy:['-fields.request_status', 'fields.due_date']" class="{{request.fields.check}}">
    		<td ng-click="$parent.desc = true; $parent.description = request.fields.description; $parent.subject = request.fields.subject;" class="entries">{{request.fields.due_date}}</td>
    		<td ng-click="$parent.desc = true; $parent.description = request.fields.description; $parent.subject = request.fields.subject;" class="entries">{{request.fields.labtech_Name}}</td>
    		<td ng-click="$parent.desc = true; $parent.description = request.fields.description; $parent.subject = request.fields.subject;" class="entries">{{request.fields.request_Type}}</td>
    		<td ng-click="$parent.desc = true; $parent.description = request.fields.description; $parent.subject = request.fields.subject;" class="entries">{{request.fields.subject}}</td>
    		<td ng-click="$parent.desc = true; $parent.description = request.fields.description; $parent.subject = request.fields.subject;" class="entries">{{request.fields.request_status}}</td>
            <td class="entries"><input type="button" ng-show="request.fields.accept" ng-click="accept(request.pk, request.fields.due_date, request.fields.description, request.fields.subject, request.fields.faculty_Name, request.fields.request_Type);" value="Accept Request" /></td>
    	</tr>

    </tbody>
</table>

<div class="entry_form" ng-show="desc">
    <div class="close"><a href="#" ng-click="desc = false;" onclick="return false;">X - Close</a></div>
    <h2>{{subject}}</h2>
    <p>{{description}}</p>
</div>
