<h2>Time Sheets</h2>

<table class="timesheet" width="80%" cellspacing="0" cellpadding="0">
	<thead>
    	<tr>
    		<th width="20%">Pay Period</th>
        	<th width="40%">Start Date</th>
        	<th width="40%">End Date</th>
        </tr>
    </thead>
    <tbody>
    	<tr>
    		<td>1</td>
	        <td>Test</td>
    	    <td>Test</td>
	    </tr>
    	<tr>
    		<td>2</td>
	        <td>Test</td>
    	    <td>Test</td>
	    </tr>
    	<tr>
    		<td>3</td>
	        <td>Test</td>
    	    <td>Test</td>
	    </tr>
    	<tr>
    		<td>4</td>
	        <td>Test</td>
    	    <td>Test</td>
	    </tr>
    </tbody>

</table>