<h2>Time Sheets</h2>

<table class="timesheet" width="80%" cellspacing="0" cellpadding="0">
	<thead>
    	<tr>
    		<th width="20%">Pay Period</th>
        	<th width="40%">Start Date</th>
        	<th width="40%">End Date</th>
        </tr>
    </thead>
    <tbody>
    	<tr ng-repeat="period in periods">
    		<td><a onclick="setCookie('period', '{{period.name}}'); setCookie('start', '{{period.start}}'); setCookie('end', '{{period.end}}');" href="#/periods">{{period.name}}</a></td>
	        <td class="entries">{{period.start}}</td>
    	    <td class="entries">{{period.end}}</td>
	    </tr>
    	
    </tbody>

</table>