<h2>Pay Period: {{period}}</h2>

<table class="timesheet" width="80%" cellpadding="0" cellspacing="0">
	<caption>Entries</caption>
	<thead>
    	<tr>
        	<th>Date</th>
            <th>Day</th>
            <th>Category</th>
            <th>Start</th>
            <th>End</th>
        </tr>
    </thead>
    <tbody>
    	<tr class="entries" ng-repeat="entry in entries | orderBy:predicate">
        	<td>{{entry.start_date}}</td>
    		<td>{{entry.start_date | date:'EEEE'}}</td>
    		<td>{{entry.category}}</td>
            <td>{{entry.start_time | date:'h:mma'}}</td>
            <td>{{entry.end_time | date:'h:mma'}}</td>
        </tr>
    	<tr>
    		<td colspan="5"><a href="#" onclick="return false;" ng-click="form = true;">Add Entry</a></td>
    	</tr>
    </tbody>
</table>
<br />
<br />
<table class="timesheet" width="70%" cellpadding="0" cellspacing="0">
	<thead>
    	<tr>
			<th width="25%">Date</th>
            <th>Comments</th>
        </tr>
    </thead>
    <tbody>
    	<tr class="entries" ng-repeat="entry in entries | orderBy:predicate">
        	<td>{{entry.start_date}}</td>
            <td>{{entry.comments}}</td>
        </tr>
    </tbody>
</table>

<div class="entry_form" ng-show="form">
	<div class="close"><a href="#" ng-click="form = false;" onclick="return false;">X - Close</a></div>
    <form name="entryForm" ng-submit="formSubmit()">
    	<div class="label">Category:</div>
        <div class="input"><select ng-model="category" tabindex="10">
        						<option ng-repeat="category in categories" value="{{category.id}}">{{category.name}}</option>
                           </select></div>
        <div class="clearB"></div>
        <div class="label">Start Time:</div>
        <div class="input"><input ui-timepicker tabindex="20" type="time" id="start_time" ng-model="start_time" name="start_time" required /></div>
        <div class="clearB"></div>
        <div class="label">End Time:</div>
        <div class="input"><input ui-datetime tabindex="30" type="time" id="end_time" ng-model="end_time" name="end_time" required/></div>
        <div class="clearB"></div>
        <div class="label">Start Date:</div> 
        <div class="input"><input ui-date ui-date-format="yy-mm-dd" tabindex="40" type="text" id="start_date" ng-model="start_date" name="start_date" required/></div>
        <div class="clearB"></div>
        <div class="label">End Date:</div> 
        <div class="input"><input ui-date ui-date-format="yy-mm-dd" tabindex="50" type="text" id="end_date" ng-model="end_date" name="end_date" required/></div>
        <div class="clearB"></div>
        <div class="label">Comments:</div>
        <div class="input"><textarea ng-model="comments" tabindex="60"></textarea>
    	<div class="clearB"></div>
        <div class="submit"><input type="submit" tabindex="70" name="submit" value="Record Entry" /></div>
    </form>
</div>