<h2>Inventory Management</h2>
<div class="localnav">
    <ul>
        <li><a href="" ng-click="search = computers">Computers</a></li>
        <li><a href="" ng-click="search = router">Routers</a></li>
        <li><a href="" ng-click="search = switches">Switches</a></li>
        <li><a href="" ng-click="search = fw">Firewalls</a></li>
    </ul>
</div>

<div ng-show="search == computers" ng-cloak>
    <table class="timesheet" width="100%" cellpadding="0" cellspacing="0">
    	<thead>
        	<tr class="inventory">
            	<th width="8.33%"><a href="" ng-click="predicate = 'manufacturer'; reverse=!reverse">Manufacturer</a></th>
                <th width="8.33%"><a href="" ng-click="predicate = 'model_num'; reverse=!reverse">Model Number</a></th>
                <th width="8.33%"><a href="" ng-click="predicate = 'serial_num'; reverse=!reverse">Serial Number</a></th>
                <th width="8.33%"><a href="" ng-click="predicate = 'purchaseDate'; reverse=!reverse">Purchase Date</th>
                <th width="8.33%"><a href="" ng-click="predicate = 'location.toString()'; reverse=!reverse">Location</th>
                <th width="8.33%"><a href="" ng-click="predicate = 'cpu'; reverse=!reverse">CPU</th>
                <th width="8.33%"><a href="" ng-click="predicate = 'optical_drive'; reverse=!reverse">Optical Drive</th>
                <th width="8.33%"><a href="" ng-click="predicate = 'hdd'; reverse=!reverse">Hard Drive</th>
                <th width="8.33%"><a href="" ng-click="predicate = 'ram'; reverse=!reverse">RAM</th>
                <th width="8.33%"><a href="" ng-click="predicate = 'psu'; reverse=!reverse">Power Supply</th>
                <th width="8.33%"><a href="" ng-click="predicate = 'number_of_mem_sticks'; reverse=!reverse"># of Memory Sticks</th>
                <th width="8.33%"><a href="" ng-click="predicate = 'IS_tag'; reverse=!reverse">IS Tag</th>
            </tr>
        </thead>
        <tbody>
        	<tr class="entries" ng-repeat="item in search | orderBy:predicate:reverse | filter:search_filter">
            	<td>{{item.manufacturer.name}}</td>
                <td>{{item.model_num.number}}</td>
                <td>{{item.serial_num}}</td>
                <td>{{item.purchaseDate}}</td>
                <td>{{item.location.building}}{{item.location.room}}</td>
                <td title='Manufacturer: {{item.cpu.manufacturer.name}}&#13;Model Number: {{item.cpu.model_num.number}}&#13;Serial Number: {{item.cpu.serial_num}}&#13;Clock Speed: {{item.cpu.clock_speed}}'>{{item.cpu.manufacturer.name}}</td>
                <td title='Manufacturer: {{item.optical_drive.manufacturer.name}}&#13;Model Number: {{item.optical_drive.model_num.number}}&#13;Serial Number: {{item.optical_drive.serial_num}}'>{{item.optical_drive.manufacturer.name}}</td>
                <td title='Manufacturer: {{item.hdd.manufacturer.name}}&#13;Model Number: {{item.hdd.model_num.number}}&#13;Serial Number: {{item.hdd.serial_num}}&#13;Disk Size: {{item.hdd.size}}'>{{item.hdd.manufacturer.name}}</td>
                <td title='Manufacturer: {{item.ram.manufacturer.name}}&#13;Model Number: {{item.ram.model_num.number}}&#13;Serial Number: {{item.ram.serial_num}}&#13;Ram Type: {{item.ram.type_of_ram}}&#13;Size: {{item.ram.size_in_megs}}'>{{item.ram.manufacturer.name}}</td>
                <td title='Manufacturer: {{item.psu.manufacturer.name}}&#13;Model Number: {{item.psu.model_num.number}}&#13;Serial Number: {{item.psu.serial_num}}'>{{item.psu.manufacturer.name}}</td>
                <td>{{item.number_of_mem_sticks}}</td>
                <td>{{item.IS_tag}}</td>
            </tr>
        </tbody>
    </table>
</div>
<div ng-show="search == router" ng-cloak>
    <table class="timesheet" width="100%" cellspacing="0" cellpadding="0">
        <thead>
            <tr class="inventory">
                <th width="9.09%"><a href="" ng-click="predicate = 'manufacturer'; reverse=!reverse">Manufacturer</a></th>
                <th width="9.09%"><a href="" ng-click="predicate = 'model_num'; reverse=!reverse">Model Number</a></th>
                <th width="9.09%"><a href="" ng-click="predicate = 'serial_num'; reverse=!reverse">Serial Number</a></th>
                <th width="9.09%"><a href="" ng-click="predicate = 'purchaseDate'; reverse=!reverse">Purchase Date</th>
                <th width="9.09%"><a href="" ng-click="predicate = 'location.toString()'; reverse=!reverse">Location</th>
                <th width="9.09%"><a href="" ng-click="predicate = 'ports'; reverse=!reverse">Ports</th>
                <th width="9.09%"><a href="" ng-click="predicate = 'number_of_mem_sticks'; reverse=!reverse"># of Mem Sticks</th>
                <th width="9.09%"><a href="" ng-click="predicate = 'service_contract'; reverse=!reverse">Service Contract</th>
                <th width="9.09%"><a href="" ng-click="predicate = 'ram'; reverse=!reverse">Ram</th>
                <th width="9.09%"><a href="" ng-click="predicate = 'flash'; reverse=!reverse">Flash</th>
                <th width="9.09%"><a href="" ng-click="predicate = 'IS_tag'; reverse=!reverse">IS Tag</th>

            </tr>
        </thead>
        <tbody>
            <tr class="entries" ng-repeat="item in search | orderBy:predicate:reverse | filter:search_filter">
                <td>{{item.manufacturer.name}}</td>
                <td>{{item.model_num.number}}</td>
                <td>{{item.serial_num}}</td>
                <td>{{item.purchaseDate}}</td>
                <td>{{item.location.building}}{{item.location.room}}</td>
                <td>{{item.ports.name}} {{item.ports.type_of_port}}</td>
                <td>{{item.number_of_mem_sticks}}</td>
                <td title='{{item.service_contract.service_contract}}'>{{item.service_contract.id}}</td>
                <td title='Manufacturer: {{item.ram.manufacturer.name}}&#13;Model Number: {{item.ram.model_num.number}}&#13;Serial Number: {{item.ram.serial_num}}&#13;Ram Type: {{item.ram.type_of_ram}}&#13;Size: {{item.ram.size_in_megs}}'>{{item.ram.manufacturer.name}}</td>
                <td title='Manufacturer: {{item.flash.manufacturer.name}}&#13;Model Number: {{item.flash.model_num.number}}&#13;Serial Number: {{item.flash.serial_num}}'>{{item.flash.manufacturer.name}}</td>
                <td>{{item.IS_tag}}</td>
            </tr>
        </tbody>
    </table>
</div>
<div ng-show="search == switches" ng-cloak>
    <table class="timesheet" width="100%" cellspacing="0" cellpadding="0">
        <thead>
            <tr class="inventory">
                <th width="8.33%"><a href="" ng-click="predicate = 'manufacturer'; reverse=!reverse">Manufacturer</a></th>
                <th width="8.33%"><a href="" ng-click="predicate = 'model_num'; reverse=!reverse">Model Number</a></th>
                <th width="8.33%"><a href="" ng-click="predicate = 'serial_num'; reverse=!reverse">Serial Number</a></th>
                <th width="8.33%"><a href="" ng-click="predicate = 'purchaseDate'; reverse=!reverse">Purchase Date</th>
                <th width="8.33%"><a href="" ng-click="predicate = 'location.toString()'; reverse=!reverse">Location</th>
                <th width="8.33%"><a href="" ng-click="predicate = 'ports'; reverse=!reverse">Ports</th>
                <th width="8.33%"><a href="" ng-click="predicate = 'number_of_mem_sticks'; reverse=!reverse"># of Mem Sticks</th>
                <th width="8.33%"><a href="" ng-click="predicate = 'service_contract'; reverse=!reverse">Service Contract</th>
                <th width="8.33%"><a href="" ng-click="predicate = 'ram'; reverse=!reverse">Ram</th>
                <th width="8.33%"><a href="" ng-click="predicate = 'flash'; reverse=!reverse">Flash</th>
                <th width="8.33%"><a href="" ng-click="predicate = 'expansion_slot'; reverse=!reverse">Expansion Slot</th>
                <th width="8.33%"><a href="" ng-click="predicate = 'IS_tag'; reverse=!reverse">IS Tag</th>

            </tr>
        </thead>
        <tbody>
            <tr class="entries" ng-repeat="item in search | orderBy:predicate:reverse | filter:search_filter">
                <td>{{item.manufacturer.name}}</td>
                <td>{{item.model_num.number}}</td>
                <td>{{item.serial_num}}</td>
                <td>{{item.purchaseDate}}</td>
                <td>{{item.location.building}}{{item.location.room}}</td>
                <td>{{item.ports.name}} {{item.ports.type_of_port}}</td>
                <td>{{item.number_of_mem_sticks}}</td>
                <td title='{{item.service_contract.service_contract}}'>{{item.service_contract.id}}</td>
                <td title='Manufacturer: {{item.ram.manufacturer.name}}&#13;Model Number: {{item.ram.model_num.number}}&#13;Serial Number: {{item.ram.serial_num}}&#13;Ram Type: {{item.ram.type_of_ram}}&#13;Size: {{item.ram.size_in_megs}}'>{{item.ram.manufacturer.name}}</td>
                <td title='Manufacturer: {{item.flash.manufacturer.name}}&#13;Model Number: {{item.flash.model_num.number}}&#13;Serial Number: {{item.flash.serial_num}}'>{{item.flash.manufacturer.name}}</td>
                <td>{{item.expansion_slot}}</td>
                <td>{{item.IS_tag}}</td>
            </tr>
        </tbody>
    </table>
</div>
<div ng-show="search == fw" ng-cloak>
    <table class="timesheet" width="100%" cellspacing="0" cellpadding="0">
        <thead>
            <tr class="inventory">
                <th width="8.33%"><a href="" ng-click="predicate = 'manufacturer'; reverse=!reverse">Manufacturer</a></th>
                <th width="8.33%"><a href="" ng-click="predicate = 'model_num'; reverse=!reverse">Model Number</a></th>
                <th width="8.33%"><a href="" ng-click="predicate = 'serial_num'; reverse=!reverse">Serial Number</a></th>
                <th width="8.33%"><a href="" ng-click="predicate = 'purchaseDate'; reverse=!reverse">Purchase Date</th>
                <th width="8.33%"><a href="" ng-click="predicate = 'location.toString()'; reverse=!reverse">Location</th>
                <th width="8.33%"><a href="" ng-click="predicate = 'ports'; reverse=!reverse">Ports</th>
                <th width="8.33%"><a href="" ng-click="predicate = 'number_of_mem_sticks'; reverse=!reverse"># of Mem Sticks</th>
                <th width="8.33%"><a href="" ng-click="predicate = 'service_contract'; reverse=!reverse">Service Contract</th>
                <th width="8.33%"><a href="" ng-click="predicate = 'ram'; reverse=!reverse">Ram</th>
                <th width="8.33%"><a href="" ng-click="predicate = 'flash'; reverse=!reverse">Flash</th>
                <th width="8.33%"><a href="" ng-click="predicate = 'expansion_slot'; reverse=!reverse">Expansion Slot</th>
                <th width="8.33%"><a href="" ng-click="predicate = 'IS_tag'; reverse=!reverse">IS Tag</th>

            </tr>
        </thead>
        <tbody>
            <tr class="entries" ng-repeat="item in search | orderBy:predicate:reverse | filter:search_filter">
                <td>{{item.manufacturer.name}}</td>
                <td>{{item.model_num.number}}</td>
                <td>{{item.serial_num}}</td>
                <td>{{item.purchaseDate}}</td>
                <td>{{item.location.building}}{{item.location.room}}</td>
                <td>{{item.ports.name}} {{item.ports.type_of_port}}</td>
                <td>{{item.number_of_mem_sticks}}</td>
                <td title='{{item.service_contract.service_contract}}'>{{item.service_contract.id}}</td>
                <td title='Manufacturer: {{item.ram.manufacturer.name}}&#13;Model Number: {{item.ram.model_num.number}}&#13;Serial Number: {{item.ram.serial_num}}&#13;Ram Type: {{item.ram.type_of_ram}}&#13;Size: {{item.ram.size_in_megs}}'>{{item.ram.manufacturer.name}}</td>
                <td title='Manufacturer: {{item.flash.manufacturer.name}}&#13;Model Number: {{item.flash.model_num.number}}&#13;Serial Number: {{item.flash.serial_num}}'>{{item.flash.manufacturer.name}}</td>
                <td>{{item.expansion_slot}}</td>
                <td>{{item.IS_tag}}</td>
            </tr>
        </tbody>
    </table>
</div>
